<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이 페이지</title>
    <link rel="stylesheet" href="./mypage_style.css">
</head>
<body>
    <div class="logo">
        <h1>
            <a href="#">
                분토관
            </a>
        </h1>
    </div>
    
    <div class="lostrow">
        <div class="lostlist">
            <ol>
                <li>
                    <ul>
                        <li><strong>🗓</strong>21.05.03</li>
                        <li><strong>🌏</strong>서울특별시 용산구</li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li><strong>📚</strong>가방</li>
                        <li><strong>🔎</strong>네이비 해지스 가방</li>
                    </ul>
                </li>
            </ol>
        </div>
        <div class="lostlist-button">
            <button id="delete-button" type="button">삭제</button>
        </div>
    </div>
    

</body>
</html>