<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>분실물 토탈 관리</title>
    <link rel="stylesheet" href="/stylesheets/search_style.css">
</head>
<body>
    <div class="logo">
        <h1>
            <a href="./">
                분토관
            </a>
        </h1>
    </div>

    <div class="lostrow">
        <div class="lostlist">
            <ol>
                <li>
                    <ul>
                        <li><strong>🗓</strong><%=condition.date%></li>
                        <li><strong>🌏</strong><%=condition.location%></li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li><strong>📚</strong><%=condition.category%></li>
                        <li><strong>🔎</strong><%=condition.name%></li>
                    </ul>
                </li>
            </ol>
        </div>
    </div>
    <div class="search">
        <button id="search-button" type="button">💡 검색 결과에 대한 알림 받기!</button>
    </div>

    <div class="sub-title">
        <strong>🔎</strong>
        <h1>
            이런<br/>
            분실물이<br/>
            등록되어<br/>
            있어요
        </h1>
    </div>

    <ul id="search-list">
        <li>
            <img src="/assets/bus.png" alt="test" />
            <h3>지갑</h3>
            <p>20210502</p>
            <p>서울용산경찰서</p>
        </li>
        <li>
            <img src="/assets/bus.png" alt="test" />
            <h3>지갑</h3>
            <p>20210502</p>
            <p>서울용산경찰서</p>
        </li>
        <li>
            <img src="/assets/bus.png" alt="test" />
            <h3>지갑</h3>
            <p>20210502</p>
            <p>서울용산경찰서</p>
        </li>
    </ul>
</body>
</html>
