<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <% include ./header %>
    <title>분실물 토탈 관리</title>
    <link rel="stylesheet" href="/stylesheets/search_style.css">
</head>
<body>

  <!-- 제목 물결 박스 -->
  <div class='box'>
    <div class='wave -one'></div>
    <div class='wave -two'></div>
    <div class='wave -three'></div>
    <div class='title'>분실물 <br>토탈<br>관리</div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-12" style="margin-bottom: 40px">
        <h1 class="main-title" onclick="location.href='./'" style="cursor:pointer">분실물 토탈 검색 결과</h1>
      </div>
    </div>
    <div class="row condition-row" style="padding:0 10%">
      <div class="col-lg-12">
        <div class="row condition-row" style="text-align:center; margin-bottom: 20px;">
          <div class="col-6 col-md-3">
            <strong>🗓</strong> <span class="font-size-temp"><%=condition.date%></span>
          </div>
          <div class="col-6 col-md-3">
            <strong>🌏</strong><span class="font-size-temp"><%=condition.location%></span>
          </div>
          <div class="col-6 col-md-3">
            <strong>📚</strong><span class="font-size-temp"><%=condition.category%></span>
          </div>
          <div class="col-6 col-md-3">
            <strong>🔎</strong> <span class="font-size-temp"><%=condition.name%></span>
          </div>
        </div>
        <div class="row" style="text-align:center; margin-bottom:20px">
          <div class="col-lg-12">
            찾으시는 물건이 없으신가요? 알림 추가하기!
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <table class='table table-striped'>
              <thead>
                <tr>
                  <th>내용</th>
                  <th>분류</th>
                  <th>습득위치</th>
                  <th>습득일자</th>
                  <th>현재보관위치</th>
                  <th>전화번호</th>
                </tr>
              </thead>
              <tr class="table-danger">
                <td>꼼데가르송 지갑</td>
                <td>의류>지갑</td>
                <td>왕십리역 2호선</td>
                <td>2020-03-12</td>
                <td>우리집경찰서</td>
                <td>010-1234-1234</td>
              </tr>
              <tr>
                <td>꼼데가르송 지갑</td>
                <td>의류>지갑</td>
                <td>왕십리역 2호선</td>
                <td>2020-03-12</td>
                <td>우리집경찰서</td>
                <td>010-1234-1234</td>
              </tr>
              <tr>
                <td>꼼데가르송 지갑</td>
                <td>의류>지갑</td>
                <td>왕십리역 2호선</td>
                <td>2020-03-12</td>
                <td>우리집경찰서</td>
                <td>010-1234-1234</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
