html, body {
    height: 100%;
}

html {
    background: #eee;
}

body {
    display: flex;
    /*justify-content: center;*/
    align-items: center;
}

@font-face {
    font-family: "Omni030";
    src: url(font/OmniGothic030.ttf);
}
@font-face {
    font-family: "Omni020";
    src: url(font/OmniGothic020.ttf);
}
@font-face {
    font-family: "NanumSquare";
    src: url(font/NanumSquare.ttf);
}
@font-face {
    font-family: "AppleSDGothicNeoM";
    src: url(font/AppleSDGothicNeoM.ttf);
}

.box {
    width: 300px;
    height: 300px;
    border-radius: 40px;
    box-shadow: 0 2px 30px rgba(0,0,0, .2);
    /*background: lighten(240,244,195, 10%);*/
    position: relative;
    left: 17%;
    top: -9%;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    transition: transform .5s;
}

.wave {
    opacity: .4;
    position: absolute;
    top: 3%;
    left: 50%;
    background: #2760e2;
    width: 500px;
    height: 500px;
    margin-left: -250px;
    margin-top: -250px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 3000ms infinite linear;
}

.wave.-three {
    animation: drift 5000ms infinite linear;
}

.wave.-two {
    animation: drift 7000ms infinite linear;
    opacity: .1;
    background: yellow;
}

.box:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #2760e2, #2deede 70%, rgba(255,255,255, .5));
    z-index: 11;
    transform: translate3d(0, 0, 0);
}

.box:hover, .search-button:hover, .today:hover, .new-lost-alarm:hover{
    transform:scale(1.1);
    transition: transform .5s;
    cursor: pointer;
}

.title {
    position: absolute;
    padding-top: 20px;
    padding-left: 20px;
    /*left: 0;*/
    /*top: 0;*/
    width: 100%;
    z-index: 1;
    /*line-height: 300px;*/
    transform: translate3d(0, 0, 0);
    color: white;
    /* text-transform: uppercase; */
    font-family: Nanumsquare;
    font-size: 50px;
    text-shadow: 0 1px 0 rgba(0,0,0, .1);
    /* text-indent: .3em; */
}

.input-section{
    position: relative;
    width: 600px;
    /*height: 50px;*/
    left: 20%;
    bottom: 7%;
    float: bottom;
    text-align: center;
}

.search-button{
    width: 120px;
    height: 50px;
    padding-top: 3px;
    margin-top: 20px;
    border: 0em;
    border-radius: 20px;
    /*background-color: #00aaff;*/
    background: linear-gradient(90deg, #2760e2 0%, #2deede 100%);
    text-align: center;
    font-family: Omni030;
    font-size: 25px;
    color: white;
    box-shadow: 0px 3px 6px rgba(0,0,0, .2);
}

.form-select{
    width: 600px;
    height: 50px;
}

.today{
    width: 400px;
    font-family: Nanumsquare;
    font-size: 20px;
    /* font-style: oblique; */
    text-decoration: underline;
    text-align: center;
    text-underline-position: under;
    color: gray;
}

.today:hover{
  cursor:pointer;
}


.input-width {
  align-items: center;
    width: 600px;
    border-radius: 30px;
    margin: 10px auto;
    float: left;
}

#search-button-id{
    display: none;
}

.search-wrap{
    text-align: center;
}

.form-control{
    border-radius: 20px;
}

.form-select{
    border-radius: 20px;
}

input::placeholder, .placeholder, option, select, input, #fadeinout{
    font-family: Nanumsquare;
    font-size: 25px;
    text-align: center;
}

.select-css{
  font-family: Nanumsquare;
  font-size: 25px;
  text-align: center;
  color: gray;
  opacity: 0.9;
}

.new-lost-alarm{
  background-color:#ff6767;
  width:50px;
  height:50px;
  margin-bottom: ;
  border-radius:25px;
  text-align:center;
  margin:30px auto;
  font-size:12px;
  vertical-align:middle;
  line-height:50px;
  box-shadow: 5px 5px 5px rgba(0,0,0, .2);
  transition: all 0.5s;
}

.new-lost-number{
  display: none;
  transition: all 0.5s;
}

input#new-lost-checkbox:checked ~ label .new-lost-alarm {
  width: 550px;
  height: 50px;
  border: 30px;
  transition: all 0.5s;
}
input#new-lost-checkbox:checked + .new-lost-number {
  transition: all 0.5s;
  display: inline-block;
}

.new-lost-light{
  font-size: 20px;
}

.lost-option-list{
  display: none;
}

#fadeinout{
  color: white;
}

#datePicker {
  width: 70%;
  height: 50px;
  margin: 0px 10px;
  float: left;
}

#lost-location-id {
  width: 70%;
  height: 50px;
  margin: 0px 10px;
  float: left;
}

#lost-keyword {
  width: 70%;
  height: 50px;
  margin: 0px 10px;
  float: left;
}


#lost-option-id {
  width: 70%;
  height: 50px;
  margin: 0px 10px;
  float: left;
}

/* .label-inline{
  display: inline;
} */

strong {
  font-size: 30px;
  float: left;
  width: 10%;
}

@keyframes drift {
    from { transform: rotate(0deg); }
    from { transform: rotate(360deg); }
}

@media screen and (max-width: 768px) {
    .box {
        margin: 15% auto;
    }
    .title{
        font-family: Omni020;
    }
}
